{{with .Contact -}}
{{.Name}}<br>
{{with .Address}}
{{- .StreetAddress}}<br>
{{.Locality}}, {{.Region}} {{.PostalCode -}}
{{end}}<br>
{{with .PrimaryPhone}}
{{- .Number.FormatTraditional -}}{{with .Extension}} ext. {{. -}}{{end}}<br>
{{end -}}
[{{.Email}}](mailto:{{.Email}})
{{- end}}

----

{{with .Summary -}}{{.}}{{- end}}

{{with .Experiences -}}
## Work & Volunteer Experience
{{range .}}{{if not .CVOnly}}
### {{.Organization}}—{{.Location}}

{{.Role}}: {{.StartDate.Format "January 2006"}} – {{if .EndDate.IsZero}}Present{{else}}{{.EndDate.Format "January 2006"}}{{end}}
{{range .Tasks}}
* {{.}}
{{- end}}
{{end}}{{end}}
{{end}}

{{with .Skills -}}
## Skills
{{range .}}
* {{title .Type.String}} with {{.Name}}
{{- end}}
{{- end}}

{{with .Education -}}
## Education
{{range .}}
{{.Institution}}—{{.Location}} ({{.Date.Format "January 2006"}})
{{range .Degree}}
* {{.Type}} in {{range $idx, $x := .FieldOfStudy}}{{if gt $idx 0}}, {{end}}{{$x}}{{- end}}
{{- with .Minor}}
  * Minors in {{range $i, $x := . -}}{{if gt $i 0}}, {{end}}{{$x}}{{end}}
{{- end}}
{{- end}}
{{- end}}
{{- end}}

{{with .Awards -}}
## Activities & Awards
{{range .}}
### {{.Award}}—{{.Organization}} ({{.Date.Format "January 2006"}})

{{.Description}}

{{- end}}
{{- end}}
